
@{
    ViewBag.Title = "DayBook";
}
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />


<style>
    .dataTables_wrapper {
        position: relative;
        clear: both;
        padding: 2% !important;
    }
</style>
<div class="container">
    <div>
        <h5 style="text-align: center">Day Book</h5>
    </div>
</div>


<div class="row">
    <div class="col s1">
    </div>
    <div class="col s1">
        <div>
            <label>  To Date :</label>
        </div>
    </div>
    <div class="col s2 card card-header info">

        <input type="date" class="form-control" name="toDate" format="dd-MM-yyyy" id="todate" />
    </div>
    <div class="col s2">
        <button class="btn waves-effect waves-light " id="btnsearch" style="float:inherit;margin-top:10%">
            Search
            <i class="material-icons right"></i>
        </button>
    </div>
</div>

<div class="col s10" style="margin:1%">
    <div class="card">
       
        <div class="dt_colVis_buttons"></div>
        <table style="width:100%" id="DayBook">
            <thead>
              
                <tr>
                    <th>Date</th>
                    <th>Bill/Id No </th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Expenses</th>
                    <th>Income</th>

                </tr>
            </thead>

            <tbody id="tbldayBook"></tbody>
            <tfoot>
                <tr>
                    <th>
                        <span>Opening Balance</span> :
                        <span id="balance"></span>
                    </th>
                    <th>
                        Closing Balance : <span id="closing"></span>
                    </th>
                    <th>---</th>

                    <th>Total</th>


                    <th id="Total"></th>
                    <th id="gTotalPaid"></th>

                </tr>
                
            </tfoot>
        </table>
      
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js" defer></script>



<script>
    var date = "";
    $(function () {


        $('#btnsearch').click(function () {
             date = $('#todate').val();
            Advance(date);
        });
    });

     function Advance(Date) {
        $.ajax({
            type: 'POST',
          
           url: '@Url.Content("~/Report/DayBookReport")',
            data: { Date: Date, },
            success: function (data) {

                var $material = $('#DayBook'),
                    $dt_buttons = $material.prev('.dt_colVis_buttons');

                if ($material.length) {
                    var table_export = $material.DataTable({
                        "destroy": true,
                        buttons: [
                            {
                                extend: 'pdf',
                                text: 'Pdf',
                                orientation: 'landscape',
                                autoPrint: true,
                                footer: true,
                                title:"Day Book"

                            },
                            {
                                extend: 'print',
                                text: 'Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                footer: true,
                                title: "Day Book"
                            },

                            'csv', 'excel',
                        ]
                    });


                    table_export.buttons().container().appendTo($dt_buttons);
                    table_export.clear();
                    let gTotal = 0;
                    let Total = 0;

                   
                    $.each(data.dayBooks, function (i, item) {
                        if (item.Expenace != null)
                            gTotal += parseInt(item.Expenace)
                        if (item.Income != null)
                            Total += parseInt(item.Income)
                        table_export.row.add([



                            item.Date != null ? DateConvertion(item.Date) : "",
                            item.BillID != null ? item.BillID : "",
                            item.Description != null ? item.Description : "",
                            item.Type != null ? item.Type : "",
                            item.Expenace != null ? item.Expenace : "",
                            item.Income != null ? item.Income : "",


                        ]);
                        $('#Total').empty();
                        $('#Total').append(gTotal);
                        $('#gTotalPaid').empty();
                        $('#gTotalPaid').append(Total);
                        $('#balance').text(data.openingBalance.toLocaleString());
                        $('#closing').text(data.closingBalance.toLocaleString());
                    });
                    table_export.draw();
                }
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });
    }


    


    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i < s.length; i++) {
            view[i] = s.charCodeAt(i) & 0xFF;
        }
        return buf;
    }

</script>
