@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card padding-4 animate fadeLeft">
            <div class="row">
                <div class="col s5 m5">
                    <p class="mb-0">Openning Balance</p>

                    <p class="mb-0">Expenses</p>
                    <p class="mb-0">Income</p>
                    <p class="mb-0">Closing Balance</p>
                </div>
                <div class="col s7 m7 right-align">
                    <p class="mb-0" id="tblOpeningBalance"></p>
                    <p class="mb-0" id="tblExpances"></p>
                    <p class="mb-0" id="tblIncome"></p>
                    <p class="mb-0" id="tblclose"></p>
                    <a href="~/Report/DayBook">
                        <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
                        <p>Day book</p>
                    </a>

                </div>
            </div>
        </div>

    </div>

    <div class="col s12 m6 l4">
        <div class="card padding-4 animate fadeLeft">
            <div class="row">
                <div class="col s5 m5">
                    <p class="mb-0">Openning Balance</p>

                    <p class="mb-0">Expenses</p>
                    <p class="mb-0">Income</p>
                    <p class="mb-0">Closing Balance</p>
                </div>
                <div class="col s7 m7 right-align">
                    <p class="mb-0" id="htblOpeningBalance"></p>
                    <p class="mb-0" id="htblExpances"></p>
                    <p class="mb-0" id="htblIncome"></p>
                    <p class="mb-0" id="htblclose"></p>
                    <a href="~/Report/HotelsBook">
                        <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
                        <p class="mb-0">Hotel Day Book</p>
                    </a>

                </div>
            </div>
        </div>

    </div>
    <div class="col s12 m6 l4">
        <div class="card padding-4 animate fadeLeft">
            <div class="row">
                <div class="col s5 m5">
                    <p class="mb-0">Booking</p>

                    <p class="mb-0">Vacancy</p>
                    <p class="mb-0">House Keeping</p>

                </div>
                <div class="col s7 m7 right-align">
                    <p class="mb-0" id="tblBooking"></p>
                    <p class="mb-0" id="tblVacancy"></p>
                    <p class="mb-0" id="tblHousKeeping"></p>

                    <a href="~/Report/RoomStatus">
                        <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
                        <p>Room Status</p>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col s12 m6 20">
        <div class="card padding-4 animate fadeLeft"style="border-radius: 8px;">
            <div class="row">
                <div>
                    <h5>
                         Expire Details
                    </h5>

                    <table style="width:100%" id="ExpireDetails">
                        <thead>
                            <tr>

                                <th>Vehicle No</th>
                                <th>Insurance Expire </th>
                                <th>Fc Expire </th>
                                <th>Permit Expire </th>
                                <th>Tax Expire </th>

                            </tr>
                        </thead>
                        <tbody id="tblExpireDetails">
                            <tr></tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<script>
    $(document).ready(function () {
        load();
        getHotel();
        Book();
        Expire();
        function load() {
                $.ajax({
                type: 'Get',
                url: '@Url.Content("~/Home/getOB")',
                dataType: 'json',
               // data: { date: yesterday},
                success: function (data) {

                    $('#tblOpeningBalance').append(data.openingBalance.toLocaleString());
                    $('#tblExpances').append(data.TodayPaid.toLocaleString());
                    $('#tblIncome').append(data.todayIncome.toLocaleString());
                    $('#tblclose').append(data.closingBalance.toLocaleString());
                }
            });


        }
        function getHotel() {
            var d = new Date();
            var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
           // var date = (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear();
           $.ajax({
                type: 'Get',
                url: '@Url.Content("~/Home/getOBHotel")',
               dataType: 'json',
               data: { tdate: strDate  },
                success: function (data) {
                   $('#htblOpeningBalance').append(data.openingBalance.toLocaleString());
                    $('#htblExpances').append(data.todayExpenses.toLocaleString());
                    $('#htblIncome').append(data.todayIncome.toLocaleString());
                    $('#htblclose').append(data.closingBalance.toLocaleString());
                }
            });
        }
         function Book() {
                $.ajax({
                type: 'Get',
                url: '@Url.Content("~/Home/RoomStatus")',
                dataType: 'json',
               // data: { date: yesterday},
                success: function (data) {

                    $('#tblBooking').append(data.booking);
                    $('#tblVacancy').append(data.vacancy);
                    $('#tblHousKeeping').append(data.housKeeping);

                }
             });
        }
        function Expire() {
            $("#tblExpireDetails").empty();
                $.ajax({
                type: 'Get',
                url: '@Url.Content("~/Home/Expire")',
                dataType: 'json',
                    success: function (data) {
                        console.log(data)
                debugger
                var row;
                if (data.length>0) {
                    for (var i = 0; i < data.length; i++) {
                        var tempData = {};
                        if (data[i].vehicleNo) { tempData.vehicleNo = data[i].vehicleNo } else tempData.vehicleNo = "";
                        if (data[i].insuranceExDate) { tempData.insuranceExDate = DateConvertion(data[i].insuranceExDate) } else tempData.insuranceExDate = "";
                        if (data[i].fcExDate) { tempData.fcExDate = DateConvertion(data[i].fcExDate) } else tempData.fcExDate = "";
                        if (data[i].permitExDate) { tempData.permitExDate = DateConvertion(data[i].permitExDate) } else tempData.permitExDate = "";
                        if (data[i].taxExDate) { tempData.taxExDate = DateConvertion(data[i].taxExDate) } else tempData.taxExDate = "";

                        var arra = tempData.insuranceExDate.split("/");
                        tempData.insuranceExDate =  new Date(arra[1] + '/'+arra[0] + '/'+arra[2]);
                        var news = new Date();
                        var total_days = Math.round((tempData.insuranceExDate - news) / (1000 * 60 * 60 * 24));

                        var rra = tempData.fcExDate.split("/");
                        tempData.fcExDate = new Date(rra[1] + '/' + rra[0] + '/' + rra[2]);
                        var ews = new Date();
                        var total_day = Math.round((tempData.fcExDate - ews) / (1000 * 60 * 60 * 24));

                        var arr = tempData.permitExDate.split("/");
                        tempData.permitExDate = new Date(arr[1] + '/' + arr[0] + '/' + arr[2]);
                        var newes = new Date();
                        var total_da = Math.round((tempData.permitExDate - newes) / (1000 * 60 * 60 * 24));

                        var ara = tempData.taxExDate.split("/");
                        tempData.taxExDate = new Date(ara[1] + '/' + ara[0] + '/' + ara[2]);
                        var newse = new Date();
                        var total_d = Math.round((tempData.taxExDate - newse) / (1000 * 60 * 60 * 24));


                        if (total_days < 31 & total_days >= 0)
                        {
                            var total_days = total_days + " Days Are Pending";
                       
                        row = '<tr>';
                        row += '<td>' + tempData.vehicleNo + '</td>'
                            row += '<td>' + total_days + '</td>'
                            row += '<td>' + total_day + " Days Are Pending"+ '</td>'
                            row += '<td>' + total_da + " Days Are Pending"+ '</td>'
                            row += '<td>' + total_d + " Days Are Pending"+ '</td>'

                        row += '</tr>';
                            $('#tblExpireDetails').append(row);
                        }
                    }
                }
                


                    },
                 });
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }


    });

</script>